h1
{
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

#transactions
{
	border-collapse: collapse;
}

#transactions tr:nth-child(even)
{
	background-color: lightgray;
}

#transactions tr td
{
	padding-right: 20px;
	font-family: Consolas, Courier New, Courier, monospace;
}